<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestAll" verbose="4">

    <test name="Regression">
        <classes>
            <class name="DivisorsFinderTest" />
            <class name="NumberCheckerTest" />
            <class name="SpecificNumbersFinderTest" />
        </classes>
    </test>

</suite>